<nav class="navbar is-dark is-fixed-top" role="navigation" aria-label="main navigation">
  <div class="navbar-brand">
    <a class="navbar-item " href="/">
      <img id="club-logo" src="/assets/robotics_club_logo-white.png">
    </a>
    <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="mainNavbar">
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
    </a>
  </div>
  <div id="mainNavbar" class="navbar-menu">
    <div class="navbar-end">
      <a class="navbar-item" href="/">
        Home
      </a>
      <div class="navbar-item has-dropdown is-hoverable">
        <a class="navbar-link" href="/robocon">
          Robocon
        </a>
        <div class="navbar-dropdown">
          <a class="navbar-item">
            ABU Robocon 2022
          </a>
          <a class="navbar-item">
            ABU Robocon 2021
          </a>
          <a class="navbar-item">
            ABU Robocon 2020
          </a>
        </div>
      </div>
      <a class="navbar-item" href="/awards">
        Awards
      </a>
      <a class="navbar-item" href="/events">
        Events
      </a>
      <a class="navbar-item" href="/gallery">
        Gallery
      </a>
      <a class="navbar-item" href="/alumni">
        Alumni
      </a>
      <a class="navbar-item" href="/about">
        About
      </a>
      <a class="navbar-item" href="/contact">
        Contact Us
      </a>
    </div>
  </div>
</nav>