<nav class="navbar is-dark" role="navigation" aria-label="main navigation">
  <div class="navbar-brand">
    <a class="navbar-item " href="https://robotics.pcampus.edu.np">
      <img src="/assets/robotics_club_logo.svg" width="112" height="36">
    </a>
    <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="mainNavbar">
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
    </a>
  </div>
  <div id="mainNavbar" class="navbar-menu">
    <div class="navbar-end">
      <a class="navbar-item">
        Home
      </a>
      <div class="navbar-item has-dropdown is-hoverable">
        <a class="navbar-link">
          Robocon
        </a>
        <div class="navbar-dropdown">
          <a class="navbar-item">
            ABU Robocon 2022
          </a>
          <a class="navbar-item">
            ABU Robocon 2021
          </a>
          <a class="navbar-item">
            ABU Robocon 2020
          </a>
        </div>
      </div>
      <a class="navbar-item">
        Awards
      </a>
      <a class="navbar-item">
        Events
      </a>
      <a class="navbar-item">
        Gallery
      </a>
      <a class="navbar-item">
        Alumni
      </a>
      <a class="navbar-item">
        Contact Us
      </a>
    </div>
  </div>
</nav>